pydantic==2.10.6
fastapi[all]
fastapi-storages==0.3.0
aiogram==3.17.0
alembic==1.14.1
sqlalchemy==2.0.37
asyncpg==0.30.0
uvicorn==0.34.0
psycopg2==2.9.10
redis==5.2.1
web3==7.8.0
tronpy==0.5.0
uvloop==0.21.0
httptools==0.6.4
rq==2.3.2
requests

# utils
pytz
alembic-postgresql-enum==1.7.0 
boto3==1.37.0
pycryptodome==3.21.0
cryptography==44.0.2
python-jose==3.4.0
bcrypt==4.0.1
passlib[bcrypt]
pycountry
pillow==11.2.1
phonenumbers==8.13.53

# aws
requests-auth-aws-sigv4

# test
pytest==8.3.4
pytest-asyncio==0.26.0
pytest-cov==6.1.1
httpx==0.28.1
